%p#notice= notice
%p
  %strong Serve date:
  = @menu.serve_date
%p
  %strong Breakfast time:
  = @menu.breakfast_time
%p
  %strong Lunch time:
  = @menu.lunch_time
%p
  %strong Dinner time:
  = @menu.dinner_time
%p
  %strong Breakfast head count:
  = @menu.breakfast_head_count
%p
  %strong Lunch head count:
  = @menu.lunch_head_count
%p
  %strong Dinner head count:
  = @menu.dinner_head_count
%p
  %strong Breakfast recipe ids:
  = @menu.breakfast_recipe_ids
%p
  %strong Dinner recipe ids:
  = @menu.dinner_recipe_ids
%p
  %strong Lunch recipe ids:
  = @menu.lunch_recipe_ids
= link_to 'Edit', edit_menu_path(@menu)
|
\#{link_to 'Back', menus_path}